

/* Media Queries */
/* Media Queries */

@media (max-width: 768px) {
    .header {
        padding: 0.625rem 1rem; /* Adjust padding for smaller screens */
    }
    .sidebar {
        display: none; /* Hide sidebar on mobile devices */
    }
    .main-content {
        display: flex;
        flex-direction: column; /* Switch to vertical direction */
        flex-grow: 1; /* Stretch to fill remaining height */
        width: 100%;
        height: 100%;
    }

    .filter__wrapper {
        display: flex;
        flex-direction: row;
    }

    .filter__button {
        font-size: 0.875rem; /* Smaller font size */
    }
    .signup__button {
        height: 1.875rem; /* Adjust height */
        width: 3.75rem; /* Adjust width */
    }

    .main__questions .question .question__info {
        display: none; /* Hide .question__info on small screens */
    }
}

@media (max-width: 480px) {
    .header {
        flex-direction: row; /* Keep in a single row */
        padding: 0.625rem 1rem; /* Adjust padding for smaller screens */
    }
    .nav {
        flex-direction: row; /* Keep in a single row */
    }
    .sidebar {
        display: none; /* Hide sidebar on mobile devices */
    }
    .main-content {
        display: flex;
        flex-direction: column; /* Switch to vertical direction */
        flex-grow: 1; /* Stretch to fill remaining height */
        width: 100%;
        height: 100%;
    }
    .filter__wrapper {
        display: flex;
        flex-direction: row;
    }
}

@media (max-width: 420px) {
    .logo__text {
        display: none; /* Hide logo text on very small screens */
    }
    .filter__wrapper {
        display: flex;
        flex-direction: row;
    }
}



/*  */
.main-content {
    width: 100%;
    background: rgba(21, 21, 21, 0.97);
    display: flex;
    flex-grow: 1; /* Stretch to fill remaining height */
    overflow: hidden; /* Hide inner scrollbars */


}

.main__header{
    width: 96%;
    height: auto;
    /* Автолейаут */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1.5rem;

}


.main-section {
    width: 100%;
    height: 100%;
    overflow-y: auto; /* Enable vertical scrolling */
    align-items: center;
    display: flex;
    flex-direction: column;
    box-sizing: border-box; /* Include padding and border in element's total width and height */

}


.header__button > button{
    background-color: aqua;
    height: 1px;
    border-radius: 10px;
    background: rgb(44, 47, 48);
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 185px;
    height: 50px;

    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 0;

    color: rgb(255, 255, 255);
    font-family: 'Podkova', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: center;

}

.main__filter{
    width: 98%;
    margin: 0.25rem 0;
    /* Автолейаут */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

}

.filter__row{
    width: 100%;
    /* Автолейаут */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; /* Позволяет дочерним элементам переноситься на новую строку */
    gap: 10px; /* Дополнительное расстояние между элементами */
    margin: 10px 0;

}

.filter__wrapper{

    /* Автолейаут */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;

    /* Inside Auto Layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

    box-sizing: border-box;
    border: 1px solid rgb(142, 142, 142);
    border-radius: 10px;


    flex-wrap: wrap; /* Позволяет кнопкам внутри обертки переноситься на новую строку */
    gap: 10px; /* Дополнительное расстояние между кнопками */
}

.filter__button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;

    /* Inside Auto Layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

    color: #ffffff;

    color: rgb(255, 255, 255);
    font-family: 'Podkova', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: center;

    flex-shrink: 0; /* Предотвращает сжатие кнопок */


}

.filter__button-active{
    border-radius: 10px;
    background: rgb(44, 47, 48);

}
