<!DOCTYPE html>
<html lang="en" class="page">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/quetion.css">
    <title>Document</title>
</head>
<body class="page__body">
    <header class="header">
        <nav class="nav">
            <div class="header__logo logo">

                <img src="../svg/311811.svg" class="logo__image" alt="SVG из файла">
                <p class="logo__text">Kiriehki<span class="logo__subtext">Kotiki</span></p>
            </div>
            <div class="header__signup signup">
                <div class="signup__button signup__button--login">
                    <p class="signup__text">Log in</p>
                </div>
                <div class="signup__button signup__button--signup">
                    <p class="signup__text">Sign up</p>
                </div>
            </div>
        </nav>
    </header>
    <main class="main-content">
        <section class="sidebar" id="sidebar">
            <div class="sidebar__wrapper">
                <div class="sidebar__menu">
                    <div class="sidebar__button sidebar__button--active">
                        <img src="../svg/home-icon-silhouette-svgrepo-com.svg" class="sidebar__button-image" alt="SVG из файла">
                        <p class="sidebar__button-text">Главная</p>
                    </div>
                    <div class="sidebar__button ">
                        <img src="../svg/quora-svgrepo-com.svg" class="sidebar__button-image" alt="SVG из файла">
                        <p class="sidebar__button-text">Вопросы</p>
                    </div>
                    <div class="sidebar__button">
                        <img src="../svg/users-svgrepo-com.svg" class="sidebar__button-image" alt="SVG из файла">
                        <p class="sidebar__button-text">Пользователи</p>
                    </div>
                    <div class="sidebar__button">
                        <img src="../svg/home-icon-silhouette-svgrepo-com.svg" class="sidebar__button-image" alt="SVG из файла">
                        <p class="sidebar__button-text">Консультация</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="main-section">
            <div class="main__header">
                <div class="header__title">
                    <h2>
                        Вопросы
                    </h2>
                </div>
                <div class="header__button">
                    <button>
                        Задать вопросы
                    </button>
                </div>
            </div>
            <div class="main__filter">
                <div class="filter__row">
                    <div class="filter__wrapper">
                        <button class="filter__button filter__button-active">Новые</button>
                        <button class="filter__button">ЯПы</button>
                        <button class="filter__button">ЯПы</button>
                    </div>
                </div>
                <div class="filter__row">
                    <div class="filter__wrapper">
                        <button class="filter__button filter__button-active">Информатика</button>
                        <button class="filter__button">ОПД</button>
                        <button class="filter__button">Прога</button>
                        <button class="filter__button">БД</button>
                    </div>
                    <div class="filter__wrapper">
                        <button class="filter__button">ЯПы</button>
                        <button class="filter__button">Веб</button>
                    </div>
                </div>
                <div class="filter__row">
                    <div class="filter__wrapper">
                        <button class="filter__button filter__button-active">1</button>
                        <button class="filter__button">2</button>
                        <button class="filter__button">3</button>
                        <button class="filter__button">4</button>
                    </div>
                </div>
            </div>f
            <div class="main__questions">
                <div class="question">
                    <div class="question__info">
                        <div class="info">
                            <div class="question__answer">
                                <p>0 голосов</p>
                            </div>
                            <div class="question__answer question__answer-decor">
                                <p>1 ответов</p>
                            </div>
                        </div>
                    </div>
                    <div class="question_card">
                        <div class="question__text">
                            <div class="question__title">
                                <p>Зачем нужно ключевое слово volatile ?</p>
                            </div>
                            <div class="question__description">
                                <p>При синхронизации потоков нужно указывать volatile - видел практику, что люди вешают ее для long и double для чего это ваще?При синхронизации потоков нужно указывать volatile - видел практику, что люди вешают ее для long и double для чего это ваще?</p>
                            </div>
                        </div>
                        <div class="question__admin">
                            <div class="question__asker">
                                <p>Вопрос от: user</p>
                            </div>
                            <div class="question__form">
                                <button class="question__button question__button-agree">
                                    Принять
                                </button>
                                <button class="question__button question__button-otkaj">
                                    Откажj
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="question">
                    <div class="question__info">
                        <div class="info">
                            <div class="question__answer">
                                <p>0 голосов</p>
                            </div>
                            <div class="question__answer question__answer-decor">
                                <p>1 ответов</p>
                            </div>
                        </div>
                    </div>
                    <div class="question_card">
                        <div class="question__text">
                            <div class="question__title">
                                <p>Зачем нужно ключевое слово volatile ?</p>
                            </div>
                            <div class="question__description">
                                <p>При синхронизации потоков нужно указывать volatile - видел практику, что люди вешают ее для long и double для чего это ваще?При синхронизации потоков нужно указывать volatile - видел практику, что люди вешают ее для long и double для чего это ваще?</p>
                            </div>
                        </div>
                        <div class="question__admin">
                            <div class="question__asker">
                                <p>Вопрос от: user</p>
                            </div>
                            <div class="question__form">
                                <button class="question__button question__button-agree">
                                    Принять
                                </button>
                                <button class="question__button question__button-otkaj">
                                    Откажj
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="question">
                    <div class="question__info">
                        <div class="info">
                            <div class="question__answer">
                                <p>0 голосов</p>
                            </div>
                            <div class="question__answer question__answer-decor">
                                <p>1 ответов</p>
                            </div>
                        </div>
                    </div>
                    <div class="question_card">
                        <div class="question__text">
                            <div class="question__title">
                                <p>Зачем нужно ключевое слово volatile ?</p>
                            </div>
                            <div class="question__description">
                                <p>При синхронизации потоков нужно указывать volatile - видел практику, что люди вешают ее для long и double для чего это ваще?При синхронизации потоков нужно указывать volatile - видел практику, что люди вешают ее для long и double для чего это ваще?</p>
                            </div>
                        </div>
                        <div class="question__admin">
                            <div class="question__asker">
                                <p>Вопрос от: user</p>
                            </div>
                            <div class="question__form">
                                <button class="question__button question__button-agree">
                                    Принять
                                </button>
                                <button class="question__button question__button-otkaj">
                                    Откажj
                                </button>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="question">
                    <div class="question__info">
                        <div class="info">
                            <div class="question__answer">
                                <p>0 голосов</p>
                            </div>
                            <div class="question__answer question__answer-decor">
                                <p>1 ответов</p>
                            </div>
                        </div>
                    </div>
                    <div class="question_card">
                        <div class="question__text">
                            <div class="question__title">
                                <p>Зачем нужно ключевое слово volatile ?</p>
                            </div>
                            <div class="question__description">
                                <p>При синхронизации потоков нужно указывать volatile - видел практику, что люди вешают ее для long и double для чего это ваще?При синхронизации потоков нужно указывать volatile - видел практику, что люди вешают ее для long и double для чего это ваще?</p>
                            </div>
                        </div>
                        <div class="question__admin">
                            <div class="question__asker">
                                <p>Вопрос от: user</p>
                            </div>
                            <div class="question__form">
                                <button class="question__button question__button-agree">
                                    Принять
                                </button>
                                <button class="question__button question__button-otkaj">
                                    Откажj
                                </button>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="question">
                    <div class="question__info">
                        <div class="info">
                            <div class="question__answer">
                                <p>0 голосов</p>
                            </div>
                            <div class="question__answer question__answer-decor">
                                <p>1 ответов</p>
                            </div>
                        </div>
                    </div>
                    <div class="question_card">
                        <div class="question__text">
                            <div class="question__title">
                                <p>Зачем нужно ключевое слово volatile ?</p>
                            </div>
                            <div class="question__description">
                                <p>При синхронизации потоков нужно указывать volatile - видел практику, что люди вешают ее для long и double для чего это ваще?При синхронизации потоков нужно указывать volatile - видел практику, что люди вешают ее для long и double для чего это ваще?</p>
                            </div>
                        </div>
                        <div class="question__admin">
                            <div class="question__asker">
                                <p>Вопрос от: user</p>
                            </div>
                            <div class="question__form">
                                <button class="question__button question__button-agree">
                                    Принять
                                </button>
                                <button class="question__button question__button-otkaj">
                                    Откажj
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>
